USE [master]
GO
/****** Object:  Database [EmployeeDB]    Script Date: 09-02-2024 18:14:19 ******/
CREATE DATABASE [EmployeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 09-02-2024 18:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[StateID] [int] NULL,
	[CityName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 09-02-2024 18:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[DepartmentHead] [varchar](50) NOT NULL,
	[Budget] [decimal](15, 2) NULL,
	[CreationDate] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee1]    Script Date: 09-02-2024 18:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee1](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](6) NULL,
	[State] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[DOB] [date] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[InterestedTechnology] [nvarchar](100) NULL,
	[PreviousPost] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeProject]    Script Date: 09-02-2024 18:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeProject](
	[EPID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[ProjectID] [int] NULL,
	[AssignmentDate] [datetime] NULL,
	[HoursWorked] [int] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 09-02-2024 18:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Salary] [decimal](10, 2) NULL,
	[JoiningDate] [datetime] NULL,
	[DepartmentID] [int] NULL,
	[InterestedTechnologies] [nvarchar](max) NULL,
	[State] [nvarchar](10) NULL,
	[City] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 09-02-2024 18:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) NULL,
	[ProjectManager] [varchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Budget] [decimal](15, 2) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 09-02-2024 18:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[SalaryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[SalaryType] [varchar](20) NULL,
	[Bonus] [decimal](10, 2) NULL,
	[FinalSalary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 09-02-2024 18:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [StateID], [CityName]) VALUES (1, 1, N'Hyderabad')
INSERT [dbo].[City] ([CityID], [StateID], [CityName]) VALUES (2, 1, N'Visakhapatnam')
INSERT [dbo].[City] ([CityID], [StateID], [CityName]) VALUES (3, 1, N'Vijayawada')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentHead], [Budget], [CreationDate], [IsActive]) VALUES (39, N'IT', N'XYZ', CAST(100000.00 AS Decimal(15, 2)), CAST(N'2024-02-01' AS Date), 1)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentHead], [Budget], [CreationDate], [IsActive]) VALUES (40, N'FinTech', N'ABC', CAST(100000.45 AS Decimal(15, 2)), CAST(N'2024-02-02' AS Date), 1)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentHead], [Budget], [CreationDate], [IsActive]) VALUES (42, N'SDE1', N'PQR', CAST(100.05 AS Decimal(15, 2)), CAST(N'2024-01-31' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee1] ON 

INSERT [dbo].[Employee1] ([EmployeeID], [FirstName], [LastName], [Gender], [State], [City], [Email], [DOB], [PhoneNumber], [InterestedTechnology], [PreviousPost]) VALUES (5, N'Jinay', N'Shah', N'Male', N'Gujarat', N'Ahmedabad', N'jinay@gamil.com', CAST(N'2024-02-09' AS Date), N'1478523690', N'ASP, Node.js, ', N'Student, ')
INSERT [dbo].[Employee1] ([EmployeeID], [FirstName], [LastName], [Gender], [State], [City], [Email], [DOB], [PhoneNumber], [InterestedTechnology], [PreviousPost]) VALUES (6, N'Jinay', N'Shah', N'Female', N'Gujarat', N'Ahmedabad', N'jinay1@gamil.com', CAST(N'2024-02-09' AS Date), N'1478523690', N'ASP,', N'Student,')
INSERT [dbo].[Employee1] ([EmployeeID], [FirstName], [LastName], [Gender], [State], [City], [Email], [DOB], [PhoneNumber], [InterestedTechnology], [PreviousPost]) VALUES (7, N'Xyz', N'fe', N'Female', N'sdf', N'asdf', N'j@j.com', CAST(N'2024-02-01' AS Date), N'1478523690', N'ASP,', N'Intern,')
SET IDENTITY_INSERT [dbo].[Employee1] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeProject] ON 

INSERT [dbo].[EmployeeProject] ([EPID], [EmployeeID], [ProjectID], [AssignmentDate], [HoursWorked], [Status]) VALUES (2, 3, 2, CAST(N'2024-02-07T00:00:00.000' AS DateTime), 10, N'Pending')
SET IDENTITY_INSERT [dbo].[EmployeeProject] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [DateOfBirth], [Gender], [Salary], [JoiningDate], [DepartmentID], [InterestedTechnologies], [State], [City]) VALUES (3, N'Naitik', N'Soni', N'naitik@gmail.com', CAST(N'2003-05-17' AS Date), N'Male', CAST(3871.00 AS Decimal(10, 2)), CAST(N'2024-01-08T00:00:00.000' AS DateTime), 39, N'SpringBoot ', N'8', N'36')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [DateOfBirth], [Gender], [Salary], [JoiningDate], [DepartmentID], [InterestedTechnologies], [State], [City]) VALUES (4, N'Jinay', N'Shah', N'jinshah0322@gmail.com', CAST(N'2003-05-22' AS Date), N'Male', CAST(3871.00 AS Decimal(10, 2)), CAST(N'2024-01-08T00:00:00.000' AS DateTime), 39, N'asp Nodejs ', N'7', N'31')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [ProjectManager], [StartDate], [EndDate], [Budget], [IsActive]) VALUES (2, N'Web Forms1', N'XY', CAST(N'2024-02-08' AS Date), CAST(N'2024-02-08' AS Date), CAST(1000.00 AS Decimal(15, 2)), 1)
INSERT [dbo].[Projects] ([ProjectID], [ProjectName], [ProjectManager], [StartDate], [EndDate], [Budget], [IsActive]) VALUES (3, N'Web Forms2', N'XYZ', CAST(N'2024-02-08' AS Date), CAST(N'2024-02-16' AS Date), CAST(15000.00 AS Decimal(15, 2)), 0)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[Salaries] ON 

INSERT [dbo].[Salaries] ([SalaryID], [EmployeeID], [Amount], [SalaryType], [Bonus], [FinalSalary]) VALUES (1, 4, CAST(3871.00 AS Decimal(10, 2)), N'Net Banking', CAST(0.00 AS Decimal(10, 2)), CAST(3871.00 AS Decimal(10, 2)))
INSERT [dbo].[Salaries] ([SalaryID], [EmployeeID], [Amount], [SalaryType], [Bonus], [FinalSalary]) VALUES (2, 3, CAST(3871.00 AS Decimal(10, 2)), N'Net Banking', CAST(0.00 AS Decimal(10, 2)), CAST(3871.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Salaries] OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([StateID], [StateName]) VALUES (1, N'Andhra Pradesh')
INSERT [dbo].[State] ([StateID], [StateName]) VALUES (2, N'Arunachal Pradesh')
INSERT [dbo].[State] ([StateID], [StateName]) VALUES (3, N'Assam')
SET IDENTITY_INSERT [dbo].[State] OFF
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([StateID])
GO
ALTER TABLE [dbo].[EmployeeProject]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeProject]  WITH CHECK ADD FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ProjectID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Department_Employee] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Department_Employee]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Salaries] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_Employee_Salaries]
GO
ALTER TABLE [dbo].[Employee1]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
USE [master]
GO
